<!DOCTYPE html>
<html ng-app="phoneBook">
<head>
	<meta charset="UTF-8" />
	<title>Phone Book</title>
	<!--import bootstrap -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

	<style type="text/css">
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
			
		}
	</style>

	<!--import angular  -->
	<script src="lib/angular/angular.js"></script>

	<script>
		//create module
		angular.module("phoneBook", []);

		//localize module and create controller
		angular.module("phoneBook").controller("phoneBookCtrl", function($scope){
				$scope.app = "Phone Book";

				$scope.contacts = [
					{name: "Peter", phone:"99998888"},
					{name: "John", phone:"99998887"}, 
					{name: "Jane", phone:"99998886"}
				];

				$scope.operadoras=[
					{nome: "Oi", codigo: 14, categoria: "Celular"},
					{nome: "Vivo", codigo: 15, categoria: "Celular"},
					{nome: "Tim", codigo: 41, categoria: "Celular"},
					{nome: "GVT", codigo: 25, categoria: "Fixo"},
					{nome: "Embratel", codigo: 21, categoria: "Fixo"}

				];

				$scope.addContact = function(contact){
					$scope.contacts.push(contact);
					delete $scope.contact;
				};

				
		});


	</script>

</head>
<body ng-controller ="phoneBookCtrl">
	<div class="jumbotron">
		<h3 >{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>Operadora</th>
			</tr>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.phone}}</td>
				<td>{{contact.operadora.nome}}</td>
			</tr>
		</table>
		<hr/>
		<input class="form-control" type="text" ng-model = "contact.name" placeholder="Name" />
		<input class="form-control" type="text" ng-model = "contact.phone" placeholder="Phone" />
		<select class="form-control" ng-model="contact.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras"><option value="">Selecione uma operadora</option></select>
		<button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="!contact.name || !contact.phone"> Add Contact</button>
	</div>
</body>
</html>